<!-- src/partials/aside.html -->
<aside class="sidebar">
  <!-- Logo -->
  <div class="sidebar__logo">
    <svg class="sidebar__logo-icon" aria-hidden="true">
      <use xlink:href="img/sprite.svg#logo"></use>
    </svg>
    <span class="sidebar__logo-text">reddit</span>
  </div>

  <!-- User block with dropdown -->
  <div class="sidebar__user">
    <span class="sidebar__user-email">kikoherrosc@gmail.com</span>
    <button class="sidebar__user-toggle" aria-label="Toggle user menu">▾</button>
    <div class="sidebar__user-menu">
     <a href="../signin.html" class="sidebar__user-menu-item">Sign In</a>
     <a href="../signup.html" class="sidebar__user-menu-item">Sign Up</a>
     <a href="#" class="sidebar__user-menu-item sidebar__user-logout">Log Out</a>
   </div>
  </div>

  <!-- Search field -->
  <div class="sidebar__search">
    <svg class="sidebar__search-icon" aria-hidden="true">
      <use xlink:href="img/sprite.svg#icon-search"></use>
    </svg>
    <input
      type="search"
      class="sidebar__search-input"
      placeholder="Search"
      aria-label="Search"
    />
  </div>

  <!-- Main navigation -->
  <nav class="sidebar__nav">
    <ul class="sidebar__nav-list">
      <li class="sidebar__nav-item sidebar__nav-item--active">
        <a href="#" class="sidebar__nav-link">
          <svg class="sidebar__nav-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon-home"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <svg class="sidebar__nav-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon-bell"></use>
          </svg>
          Notifications
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a href="#" class="sidebar__nav-link">
          <svg class="sidebar__nav-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon-posts"></use>
          </svg>
          My posts
        </a>
      </li>
      <li class="sidebar__nav-item sidebar__nav-dropdown">
        <a href="#" class="sidebar__nav-link">
          <svg class="sidebar__nav-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon-subreddit"></use>
          </svg>
          My subreddits
          <svg class="sidebar__nav-icon-chev" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </a>
        <ul class="sidebar__nav-sublist">
          <li class="sidebar__nav-subitem">
            <a href="#" class="sidebar__nav-link">Gaming</a>
          </li>
          <li class="sidebar__nav-subitem">
            <a href="#" class="sidebar__nav-link">Funny</a>
          </li>
          <li class="sidebar__nav-subitem">
            <a href="#" class="sidebar__nav-link">Series</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
