<!-- src/partials/header.html -->
<header class="header">
  <div class="header__inner container">
    <!-- Вкладковий навбар -->
    <nav class="header__tabs">
      <ul class="header__tabs-list">
        <li class="header__tabs-item">
          <a href="#" class="header__tab header__tab--active" data-view="all">All subreddits</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="hot">HOT</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="new">NEW</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="rising">RISING</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="controversial">CONTROVERSIAL</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="top">TOP</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="gilded">GILDED</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tab" data-view="promoted">PROMOTED</a>
        </li>
      </ul>
    </nav>
  </div>
</header>