<header class="header">
  <div class="header__inner container">
    <!-- Назва секції -->
    <h1 class="header__title">All subreddits</h1>

    <!-- Вкладковий навбар -->
    <nav class="header__tabs">
      <ul class="header__tabs-list">
        <li class="header__tabs-item header__tabs-item--active">
          <a href="#" class="header__tabs-link">HOT</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">NEW</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">RISING</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">CONTROVERSIAL</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">TOP</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">GILDED</a>
        </li>
        <li class="header__tabs-item">
          <a href="#" class="header__tabs-link">PROMOTED</a>
        </li>
      </ul>
    </nav>
  </div>
</header>